@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(43, 43, 43, 1);
    line-height: 2;


    .Home {
        background-color: rgba(43, 43, 43, 1);


        header {
            display: flex;
            justify-content: space-between;
            padding: 20px 5%;

            h3 {
                font-family: Poppins;
                font-size: 24px;
                font-weight: 600;

                color: rgba(255, 255, 255, 1);
                width: 89px;
                height: 34px;
                text-align: left;

            }

            .short-cuts {

                justify-content: right;
                display: flex;
                margin: 0;



                button {
                    border: none;
                    border-radius: 15px;
                    font-size: 18px;
                    font-weight: 400;
                    padding: 3%;
                    white-space: nowrap;
                    width: 170px;


                    a {
                        text-decoration: none;
                        text-align: center;
                        display: block;

                    }

                }

                button:nth-child(1) {
                    background: none;

                    a {
                        color: white;
                        
                    }
                }

                button:nth-child(2) {

                    background-color: rgba(191, 175, 242, 1);

                    a {
                        color: rgba(51, 51, 51, 1);
                        
                    }

                }
            }
        }

        .container {

            padding: 20px 10%;
            justify-content: space-between;
            display: inline-flex;

            .left {
                margin: 20px 10%;

                h1 {
                    color: white;
                    font-weight: 600;
                    font-size: 60px;
                    text-align: left;
                    line-height: 1.5;

                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: white;
                    opacity: 40%;
                }

                button {
                    background: rgba(248, 213, 126, 1);
                    color: rgba(51, 51, 51, 1);
                    border: none;
                    border-radius: 15px;
                    padding: 10px 30px;
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                    margin-top: 10%;



                }
            }

            .right {
                border: 1px solid rgba(51, 51, 51, 1);

                img {
                    border-radius: 15px;
                    background-color: rgb(68, 68, 68);
                }
            }
        }

    }

    .block {
        background-color: rgba(43, 43, 43, 1);
        height: 300px;

        img {

            width: 80%;
            display: block;
            margin: 20px auto;
        }
    }

    .features {
        .top {
            background-color: rgba(253, 245, 223, 1);
            border-radius: 20px;
            width: 80%;
            margin: auto 10% 10%;

            img {
                width: 90%;
                justify-content: center;
                padding: 5% 5% 0px;

            }
        }

        .bottom {
            color: white;
            text-align: center;
            display: inline-flex;
            margin: 0px 15% 5%;
            .icon{
                margin: 0px 5%;
                img{
                    margin-bottom: 5%;
                }
                h6 {
                    font-size: 18px;
                    font-weight: 600;
                }
                p {
                    opacity: 40%;
                    font-size: 18px;
                    font-weight: 400;
    
                }
            }
            
        }

    }
}